marquee {
    font-size: 55;
    font-family: serif;
    color: gold;
}

img {
    width: 600;
}

p {
    font-size: 25;
    text-align: justify-all;
}

#school {
    width: 450;
}

h3 {
    font-size: 40;
}
#campus {
    font-size: 46;
    color: red;
}
#contact {
    font-size: 46;
    color: deepskyblue;
}
#achivements {
  font-size: 46;
    color: red;  
}
#new {
   font-size: 46;
    color: red; 
}
